PORT=8787
DATA_DIR=./data
CORS_ORIGIN=https://groundworkokc.org
RELAY_NAME=Groundwork Relay OKC
MAX_BODY_BYTES=262144
MAX_EVENT_BODY_BYTES=131072
CANOPY_SECRET=change-this-to-at-least-32-random-bytes-before-deploy
NOSTR_MIRROR_ENABLED=0
NOSTR_MIRROR_SECRET_KEY=
NOSTR_MIRROR_RELAYS=wss://relay.damus.io,wss://nos.lol
NOSTR_MIRROR_KIND=39701
NOSTR_MIRROR_SOURCE_URL=https://relay.groundworkokc.org
